<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar" >
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">

                <li><a th:href="@{/index}" class="sideA"><i class="lnr lnr-home"></i> <span>生态公益林局政策</span></a></li>
                <li><a th:href="@{/users/index}" methods="GET" class="sideA"><i class="lnr lnr-home"></i> <span>用户管理</span></a></li>
                <li><a th:href="@{/town/town_list}" class="sideA"><i class="lnr lnr-home"></i> <span>林业站信息入口</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->